<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pagetitle%></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <head class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Transactions</a></li>
                <li class="main-header__item"><a href="/add-information">Add Information</a></li>
            </ul>
        </nav>
      </head>
      <main>
        <% if(trans.length > 0) { %>
        <h1>My Transactions</h1>

          <%for (let transactions of trans) {%>
            <div class="grid">
            <p>Name: <%=transactions.name %> </p>
            <p>Last Name: <%=transactions.lastname %> </p>
            <p>TxHash:<a href="https://rinkeby.etherscan.io/tx/<%= transactions.txHash%>" target="_blank"><%=transactions.txHash %></a></p>

            <a href="/transactions/<%= transactions.id%>" class="btn">Details</a>
            <a href="/edit-information/<%= transactions.id%>" class="btn">Edit</a>
            </div>
          <%}%>

        <% } else {%>
          <h1>No transactions so far</h1>
          <%}%>
      </main>
  </body>
</html>
