<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pagetitle%></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <head class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Transactions</a></li>
                <li class="main-header__item"><a href="/add-information">Add Information</a></li>
            </ul>
        </nav>
      </head>
      <main>
        <div >
        <p>Name: <%=transaction.name %> </p>
        <p>Last Name: <%=transaction.lastname %> </p>
        <p>Data Hash: <%=transaction.datahash %> </p>
        <p>Transaction Hash: <%=transaction.txHash %> </p>
        <p>Previous Hash: <%=transaction.previousHash %> </p>

        </div>
      </main>
  </body>
</html>
